@model IEnumerable<StudentManagement.Models.Batch>

@{
    ViewBag.Title = "Batch Management - Index";
}

<div class="container mt-4">
    <h2>Batch Management</h2>

    <p>
        @Html.ActionLink("Add New", "Add", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Batch</th>
                <th>Year</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.batch1</td>
                    <td>@item.year</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning btn-sm" }) 
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure you want to delete this item?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
